<div class="bg-primary-lighter">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-5 d-flex flex-column justify-content-end">
            <p class="text-muted mt-3 mb-1">Departure</p>
            <p class="text-black fw-bold mb-1">27 DEC, 2022 (FRI)</p>
            <p class="fs-6 text-primary mb-3">Cairo, Egypt (CAI)</p>
          </div>
          <div class="col-2 d-flex justify-content-start align-items-center">
            <svg data-name="Icon awesome-plane-departure" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="#28A9E0" d="M23.4,17.849H.6a.6.6,0,0,0-.6.6v1.2a.6.6,0,0,0,.6.6H23.4a.6.6,0,0,0,.6-.6v-1.2A.6.6,0,0,0,23.4,17.849Zm-20.379-4a1.237,1.237,0,0,0,.912.4l4.9-.007a2.461,2.461,0,0,0,1.111-.267L20.85,8.438a6.375,6.375,0,0,0,2.513-2.187c.687-1.068.761-1.841.49-2.387s-.928-.948-2.184-1.029a6.3,6.3,0,0,0-3.235.73L14.74,5.441l-8.2-3.077a.667.667,0,0,0-.675-.042L3.4,3.573A.685.685,0,0,0,3.2,4.643L9.062,8.322l-3.87,1.964L2.479,8.918a.668.668,0,0,0-.6,0l-1.5.764a.685.685,0,0,0-.209,1.053Z" transform="translate(0 -2.25)"/>
            </svg>
          </div>
          <div class="col-5 d-flex flex-column justify-content-end">
            <p class="text-black fw-bold mb-1">28 DEC, 2022 (SAT)</p>
            <p class="fs-6 text-primary mb-3">Doha,Qatar (DOH)</p>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-center"><div class="divider"></div></div>

      <div class="col-4">
        <div class="row">
          <div class="col-5 d-flex flex-column justify-content-end">
            <p class="text-muted mt-3 mb-1">Return</p>
            <p class="text-black fw-bold mb-1">28 DEC, 2022 (SAT)</p>
            <p class="fs-6 text-primary mb-3">Doha,Qatar (DOH)</p>
          </div>
          <div class="col-2 d-flex justify-content-start align-items-center">
            <svg id="Icon_awesome-plane-arrival" data-name="Icon awesome-plane-arrival" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path id="Icon_awesome-plane-arrival-2" data-name="Icon awesome-plane-arrival" d="M23.4,16.8H.6a.6.6,0,0,0-.6.6v1.2a.6.6,0,0,0,.6.6H23.4a.6.6,0,0,0,.6-.6V17.4A.6.6,0,0,0,23.4,16.8ZM1.68,7.712l3.328,3a2.348,2.348,0,0,0,.955.522l10.785,2.938a5.734,5.734,0,0,0,3.038.051c1.113-.31,1.629-.8,1.772-1.339s-.065-1.227-.876-2.061a5.8,5.8,0,0,0-2.656-1.5l-3.657-1L10.605,1.133a.623.623,0,0,0-.437-.447L7.727.022A.619.619,0,0,0,6.95.638L8.747,6.8,4.915,5.752,3.88,3.207a.62.62,0,0,0-.413-.372l-1.49-.406a.62.62,0,0,0-.777.6L1.209,6.84A1.293,1.293,0,0,0,1.68,7.712Z" transform="translate(0 0)" fill="#28a9e0"/>
            </svg>
          </div>
          <div class="col-5 d-flex flex-column justify-content-end">
            <p class="text-black fw-bold mb-1">27 DEC, 2022 (FRI)</p>
            <p class="fs-6 text-primary mb-3">Cairo, Egypt (CAI)</p>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-center"><div class="divider"></div></div>
      <div class="col-1 d-flex justify-content-end">
        <div class="d-flex flex-column justify-content-center">
          <p class="text-muted mb-1">Passenger</p>
          <p class="text-black fw-bold mb-1">1 Adults</p>
        </div>
        <div class="d-flex justify-content-center align-items-center ps-4"><div class="divider"></div></div>
      </div>
      <div class="col-1 d-flex justify-content-end">
        <div class="d-flex flex-column justify-content-center">
          <p class="text-muted mb-1">Class</p>
          <p class="text-black fw-bold mb-1">Economy</p>
        </div>
      </div>
    </div>
    <!-- <div class="bg-primary-light">
      <p class="arrow">Modify Search</p>
    </div> -->
  </div>
</div>
